<!DOCTYPE html>
<title>ZervPlatform</title>
<body> 
<div class="container-fluid text-center ">
<div class="form-group text-left">
		<div class = "col-sm-10 col-sm-offset-1 ">
			<div class="form-group col-xs-12 col-sm-6 com-sm-offset-3" style="margin-top:8%;">
				<div class="form-group text-center  col-xs-12 col-sm-12">
					<h1>Zerv Platform</h1>
				</div>
				<div class="form-group text-center  col-xs-12 col-sm-12">
					<h3>Create account</h3>
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<div class = "col-sm-6 col-xs-12 col-sm-offset-3 border_cus">
						<div class="input-group form-group martopten col-xs-12 col-sm-10 col-sm-offset-1">
							<div class="input-group-addon"><a class="fa fa-user"></a></div>
							<input class="form-control input-sm" type="text" placeholder="Username">
						</div>
						<div class="input-group form-group  col-xs-12 col-sm-10 col-sm-offset-1">
							<div class="input-group-addon"><a class="fa fa-lock"></a></div>
							<input class="form-control input-sm" type="password" placeholder="Password">
						</div>
						<div class="input-group form-group  col-xs-12 col-sm-10 col-sm-offset-1">
							<div class="input-group-addon"><a class="fa fa-lock"></a></div>
							<input class="form-control input-sm" type="password" placeholder="Confirm password">
						</div>
						<div class="input-group form-group  col-xs-12 col-sm-10 col-sm-offset-1">
							<div class="input-group-addon"><a class="fa fa-phone"></a></div>
							<input class="form-control input-sm" type="text" placeholder="Phone Number">
						</div>
						<div class=" form-group col-xs-8 col-xs-offset-2 col-sm-6  col-sm-offset-3">
							<a style = "text-decoration:none;" class="btn btn-info btn-md center-block" href="{{hostname}}#/accountPage">NEXT</a>
						</div>
			
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>