<!DOCTYPE html>
<title>ZervPlatform</title>
<body> 
<div class="container-fluid text-center ">
<div class="form-group text-left">
		<div class = "col-sm-10 col-sm-offset-1 ">
			<div class="form-group col-xs-12 col-sm-12" style="margin-top:10%;">
				<div class="form-group text-center  col-xs-12 col-sm-12">
					<h2>Invitation</h2>
				</div>
				<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
					<div class="form-group col-xs-3 text-right col-sm-2 fa fa-envelope-open-o" style="font-size:60px;">
					</div>
					<div class="form-group col-xs-9 col-sm-10">
						<label class="  form-group col-xs-12 col-sm-10">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
							bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo 
							commodo.Proin sodales pulvinar sic tempor. Sociis natoque penatibus 
							et magnis dis parturient montes, nascetur ridiculus mus.
						</label>
						<label class="col-xs-12  form-group col-sm-12">
							To set up your account, please follow this <a href="{{hostname}}#/accountInformation">link</a> or enter this URL to your browser:
						</label>
						<label class="col-xs-12 col-sm-12">
							www.zervplatform.com/exclusiveinvitation
						</label>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>