<!DOCTYPE html>
<title>zervPlatform</title>
<body>
    <div class="container-fluid text-center ">
        <div class="form-group col-sm-12">
            <div class="from-group col-sm-8 col-sm-offset-2">
			<h3 class="txt-bold text-center">
				Welcome to the ZERV Marketplace
			</h3><br><br>
			<div class="col-lg-10 col-lg-offset-1">
					<div class="col-lg-3">
						<img style="height:100px;width:100px;float:left" src="../IMAGES/image1.png" alt="image">
					</div>
					<div class="col-lg-9">
						<h4 class="txt-bold">What is the ZERV marketplace ?</h4>
						<p>ZERV marketplace is a platform to transact with businesses across the ammunition supply chain.The mission is to connect buyers and sellers in a frictionless and integrated fashion to facilitate relationships and end to end commerce activities across the globe.</p>
					</div>
			</div>
			<div>
				<div class="col-lg-12 txt-align">
					<h3 class="txt-bold">What can i do here ?</h3><br>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-offset-4">
						<div class="col-lg-6">
							<div>
								<h4 class="txt-bold">Sell products</h4>
							</div>
							<div>
								<P>With the option to list specific inventory or general selling interests you will increase sales due to presence here</P>
							</div>
						</div>
						<div class="col-lg-6">
							<img style="height:70px;width:70px;" src="../IMAGES/image2.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-offset-4">
						<div class="col-lg-6">
							<div>
								<h4 class="txt-bold">Buy products</h4>
							</div>
							<div>
								<p>Set up alerts so that you will know when all your favorite items are for sale.No more endless searches - the matches will come to you!</p>
							</div>
						</div>
						<div class="col-lg-6">
							<img style="height:70px;width:70px;" src="../IMAGES/image3.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-offset-4">
						<div class="col-lg-6">
							<div>
								<h4 class="txt-bold">Negotiate with trading partners</h4>
							</div>
							<div>
								<p>With the ability to easily negotiate on specific terms or products you'll always get the best deal </p>
							</div>
						</div>
						<div class="col-lg-6">
							<img style="height:70px;width:70px;" src="../IMAGES/image4.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-offset-4">
						<div class="col-lg-6">
							<div>
								<h4 class="txt-bold">Manage and track orders</h4>
							</div>
							<div>
								<p>Keep tabs on your sales and orders to ensure that you always know where your products are</p>
							</div>
						</div>
						<div class="col-lg-6">
							<img style="height:70px;width:70px;" src="../IMAGES/image5.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-offset-4">
						<div class="col-lg-6">
							<div>
								<h4 class="txt-bold">Trace the supply chain </h4>
							</div>
							<div>
								<p>You can track the entire supply chain for every product on the platform.If there's ever any issues you can trace it back to the exact sources and identify what went wrong</p>
							</div>
						</div>
						<div class="col-lg-6">
							<img style="height:70px;width:70px;" src="../IMAGES/image2.png" alt="image">
						</div>
					</div>
				</div>
			</div><br>
			
			<div class="col-lg-12">
				<h3 class="txt-bold txt-align">Sell on the ZERV Marketplace</h3>
			</div>
			<div class="col-lg-10 col-lg-offset-2">
				<p>The selling eperience on the ZERV marketplace is simple and flexible.Post your listings today to get started! </p>
			</div>
			<div>
				<div class="col-lg-10 col-lg-offset-2">
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image2.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">1.Identity selling interests</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image3.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">2.Find opportunities</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image4.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">3.Negotiate</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image5.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">4.Transact</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-lg-12">
				<div class="col-lg-offset-6">
					<button type="button" ng-model="values.sellGetStarted" id="sellGetStarted" class="btn btn-info">GET STARTED</button>
				</div>
			</div>
			<div class="col-lg-12">
				<h3 class="txt-bold txt-align">Buy on the ZERV Marketplace</h3>
			</div>
			<div class="col-lg-10 col-lg-offset-2">
				<p>The selling eperience on the ZERV marketplace is simple and flexible.Post your interests to get started! </p>
			</div>
			<div>
				<div class="col-lg-10 col-lg-offset-2">
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image2.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">1.Identity selling interests</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image3.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">2.Find opportunities</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image4.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">3.Negotiate</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div>
							<img style="height:70px;width:70px;" src="../IMAGES/image5.png" alt="image">
						</div>
						<div>
							<h4 class="txt-bold">4.Transact</h4>
						</div>
						<div>
							<p>lorem ipsum dolor sit</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-offset-6">
						<button type="button" ng-model="values.buyGetStarted" id="buyGetStarted" class="btn btn-info">GET STARTED</button>
					</div>
				</div>
			</div>
            </div>
        </div>
       
    </div>
</body>