<!DOCTYPE html>
<title>vendor</title>
<body> 
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
	
	<div class="form-group col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
	     <div class="col-sm-12 col-xs-12 text-left">
	        <div class="col-sm-12 col-xs-12">
	         <h2><b>Manage groups</b></h2><hr class="hr_cus1 hr_mar_top cborder1 pad_top3">
		     </div>
		 
    		 <div class="col-sm-12 col-xs-12 fa fa-plus color1">
		      <a href="#">CREATE NEW GROUP</a>
			</div>
		   </div>

		<div class="col-sm-12 col-xs-12 mar_top_pro">
			<div class="form-group col-sm-4 col-xs-6 f20">
				 <label><b>Preferred vendor</b></label><hr class="hr_cus1 hr_mar_top cborder1 pad_top3">
			</div>
			
			<div class="form-group col-sm-8 col-xs-6 text-right">
				 <input id="preferredVendorPrivateGroup" type="checkbox">Private group
			</div>
		
			   <div class="col-sm-12 col-xs-12">
			      <a id="preferredVendorPrivateGroupGunbroker" href="#">Gunbroker</a>
			   </div>
			   
			   <div class="col-sm-12 col-xs-12 text-right">
			      <a id="preferredVendorPrivateGroupEditGroup" href="#">Edit Group</a>
			   </div>
			 
		       <div class="col-sm-12 col-xs-12">
			      <a id="preferredVendorPrivateGroupTradingPartnerX" href="#">Trading Partner X</a>
			   </div>
			   
			   <div class="col-sm-12 col-xs-12 text-right">
			      <a id="preferredVendorPrivateGroupDelete" href="#">Delete</a>
			   </div>
			 
			<div class="col-sm-12 col-xs-12 fa fa-plus pad_top40 color1" >
		      <a id="preferredVendorPrivateGroupADD" href="#">ADD</a>
			</div>
		</div>
		
	   	<div class="form-group col-sm-12 col-xs-12 mar_top_pro">
			<div class="form-group col-sm-4 col-xs-6 f20 pad_bottom1">
				 <label><b>International</b></label><hr class="hr_cus1 hr_mar_top cborder1 pad_top3">
			</div>
			
			<div class="form-group col-sm-8 col-xs-6 text-right">
				 <input id="internationalPrivateGroup" type="checkbox">Private group
			</div>
			
			<div class="form-group col-sm-12 col-xs-12 text-right">
			   <a id="internationalPrivateGroupEditGroup" href="#">Edit Group</a>
			 </div>
			   <div class="form-group col-sm-12 col-xs-12 text-right">
			   <a id="internationalPrivateGroupDelete" href="#">Delete</a>
			   </div>
		 
			 <div class="col-sm-12 col-xs-12 fa fa-plus color1">
		      <a id="internationalPrivateGroupADD" href="#">ADD</a>
			</div>
		</div>
		
		<div class="form-group col-sm-12 col-xs-12 mar_top_pro">
			<div class="form-group col-sm-4 col-xs-6 f20 pad_bottom1">
				<label><b>Black List</b></label><hr class="hr_cus1 hr_mar_top cborder1 pad_top3">
			</div>
			
			<div class="form-group col-sm-8 col-xs-6 text-right">
				<input id="blackListPrivateGroup" type="checkbox">Private group
			</div>
			
			<div class="form-group col-sm-12 col-xs-12 text-right">
			   <a id="blackListEditGroup" href="#">Edit Group</a>
			 </div>
			 <div class="form-group col-sm-12 col-xs-12 text-right">
			   <a id="blackListDelete" href="#">Delete</a>
			 </div>
		 
			 <div class="col-sm-12 col-xs-12 fa fa-plus color1">
		      <a id="blackListADD"  href="#">ADD</a>
			</div>
		</div>	
</div>
</div>
</body>
