<!DOCTYPE html>
<title>dashboard</title>

<body>
    <div class="container-fluid" style="padding-right:0px;padding-left:0px">
			<div class=" col-sm-12 ">
				<div class="col-sm-7 col-sm-offset-3 mar_top_pro mar_bot_pro f20 text-center">
					<strong>YOUR ZERV PLATFORM SNAPSHOT</strong>
				</div>

				<div class="col-sm-3 col-sm-offset-3">
					<div class="col-sm-12  ">
						<p class="text-center">BUY</p>
						<div class="col-sm-10 col-xs-12 col-sm-offset-1 bg_shape ">
							<div class="col-sm-12 top_box_mrg btm_box_mrg ">
								<p class="text-center">10 NEW MATCHES</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12   ">
						<div class="col-sm-10 col-xs-12 col-sm-offset-1 mar_top_pro bg_shape ">
							<div class="col-sm-12 top_box_mrg btm_box_mrg">
								<p class=" text-center">3 ACCEPTED BIDS</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12  ">
						<div class="col-sm-10 col-xs-12 col-sm-offset-1 mar_top_pro bg_shape ">
							<div class="col-sm-12 top_box_mrg btm_box_mrg">
								<p class="text-center">1 ORDER SENT FOR SHIPMENT</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-xs-12   ">
						<div class="col-sm-10  col-sm-offset-1">
							<div class="col-sm-12 text-center">
								<p class="text-center mar_bot_pro mar_top_pro "><strong>Your Purchases</strong></p>
								<div class="fa fa-pie-chart text-center mar_bot_pro" style="font-size:110px"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-sm-offset-1 ">
					<div class="col-sm-12 ">
						<p class="text-center">SELL</p>
						<div class="col-sm-10 col-xs-12 col-sm-offset-1 bg_shape ">
							<div class="col-sm-12 top_box_mrg btm_box_mrg ">
								<p class="text-center">4 NEW BIDS</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 ">
						<div class="col-sm-10 col-xs-12 col-sm-offset-1 mar_top_pro bg_shape ">
							<div class="col-sm-12 top_box_mrg btm_box_mrg ">
								<p class="text-center">1 NEW OFFER TO SELL</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12  ">

						<div class="col-sm-10 col-xs-12 col-sm-offset-1 mar_top_pro bg_shape ">
							<div class="col-sm-12 top_box_mrg btm_box_mrg ">
								<p class="text-center">3 NEW ORDERS TO SHIP</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-xs-12 ">
						<div class="col-sm-10  col-sm-offset-1">
							<div class="col-sm-12 text-center">
								<p class="text-center mar_bot_pro mar_top_pro "><strong>Sales Revenue</strong></p>
								<div class="fa fa-bar-chart text-center mar_bot_pro" style="font-size:110px"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-sm-offset-5 mar_top_pro mar_bot_pro">
					<div class="col-sm-10 col-xs-12 col-sm-offset-1 bg_shape ">
						<div class="col-sm-12 top_box_mrg btm_box_mrg">
							<p class="text-center">2 NEW CHAT MESSAGES</p>
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-xs-12 col-sm-offset-3">
					<br>
				</div>
			</div>
    </div>
</body>