<!DOCTYPE html>
<title>Matched Buy Listing Details</title>
<body> 
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
	<div class=" col-sm-12 col-xs-12">
		<div class="form-group col-sm-8 col-sm-offset-2 col-xs-12">
			<div class="col-sm-12">
				<label class="f16"><strong>Listing details</strong></label>
			</div>
			<div class="form-group f15 col-xs-12 col-sm-12 border_pack4">
				<div class="col-sm-4 col-xs-12">
					<div class="col-sm-12 col-xs-6">
						<label><strong>Listing name</strong></label>
					</div>
					<div class="col-sm-12 col-xs-6">
						<label>Spring Brass Sales</label>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="col-sm-12 col-xs-6">
						<label><strong>Buyer information</strong></label>
					</div>
					<div class="col-sm-12 col-xs-6">
						<label>Manahil malik</label>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="col-sm-12 col-xs-6">
						<label><strong>Expiration date</strong></label>
					</div>
					<div class="col-sm-12 col-xs-6">
						<label>April 15th, 2018</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-8 col-sm-offset-2 col-xs-12">
			<div class="form-group f15 col-xs-12 col-sm-6 border_pack4">
				<div class="col-sm-7 col-xs-12">
					<div class="col-sm-12">
						<label class="f14">Products</label>
					</div>
					<div class="col-sm-12">
                        <div class="col-sm-4 no-padding">
                            <img src="cr_assets/images/logo.jpg" alt="image"style="width:100%">
                        </div>
                        <div class="col-sm-8 righ-pad-text">
                            <strong><label class="f14">Brass</label></strong>
                            <label class="f14">Price:30ZERV/pound</label>
                            <label class="f14">Quantity:10 pounds</label>
							<label class="f14">Total: 300ZERV</label>
                        </div>
                    </div>
					<div class="col-sm-12 col-xs-12">
						<strong><label>Payment terms</label></strong>
					</div>
					<div class="col-sm-12 col-xs-12">
						<div class="col-sm-12 col-xs-6">
							<strong><label>Payment time frame</label></strong>
						</div>
						<div class="col-sm-12 col-xs-6">
							<label>Time of sale</label>
						</div>
					</div>
					<div class="col-sm-12 col-xs-12">
						<div class="col-sm-12 col-xs-6">
							<strong><label>Payment method</label></strong>
						</div>
						<div class="col-sm-12 col-xs-6">
							<label>ZERV</label>
						</div>
					</div>
					<div class="col-sm-12 col-xs-12">
						<div class="col-sm-12 col-xs-6 no-padding">
							<strong><label>Delivery terms</label></strong>
						</div>
						<div class="col-sm-12 col-xs-6 no-padding">
							<label>15 days</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 form-group text-center">
				<div class="form-group col-sm-12  col-sm-offset-2">
					<div class="col-sm-12 ">
						<div class="col-sm-12 ">
							<button type="button" class="btn btn-default btn-block" ng-model="values.matchedBuyListing4CompetingOffers" id="matchedBuyListing4CompetingOffers">4 competing offers</button>
							<br>
						</div >
						<div class="col-sm-12  ">
							<button type="button" class="btn btn-info btn-block" ng-model="values.matchedBuyListingPlaceOfferToSell" id="matchedBuyListingPlaceOfferToSell">Place Offer to sell</button>
							<br>
						</div>
						<div class="col-sm-12 ">
							<button type="button" class="btn btn-info btn-block" ng-model="values.matchedBuyListingSellNow" id="matchedBuyListingSellNow">Sell now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
