<!DOCTYPE html>
<title>Purchasing History</title>

<body>
    <div class="container-fluid" style="padding-right:0px;padding-left:0px">
			<div class=" col-sm-12">
				<div class="form-group col-sm-12 ">
					<div class="col-sm-2 no-padding">
						<div class=" input-group">
							<input type="text" class="form-control f12">
							<span class="input-group-addon " style="color:transparent">.<a class="fa fa-search" style="color:black"></a></span>
						</div>
					</div>
					<div class="form-group f14  col-sm-2">
						<a>Advanced search</a>
					</div>
					<div class="form-group f14 text-right col-sm-offset-3 col-sm-2">
						<a>Buying Opportunities </a>
					</div>
					<div class="form-group f14 text-right col-sm-1">
						<a>Active Offers</a>
					</div>
					<div class="form-group f14 text-right col-sm-2">
						<div class="col-sm-9 col-sm-offset-1">
							<a>Purchasing History</a>
						</div>
					</div>
				</div>
			</div>
			<div class=" col-sm-12">
				<div class=" form-group col-sm-2">
					<div class=" form-group col-sm-12 border_pack4" style="height:480px">
					<div class="col-sm-2 col-xs-1 fa fa-filter" style="font-size:15px"></div>
					<div class="col-sm-4 col-xs-2 no-padding">
						<p><strong>Filters</strong></p>
					</div>
					<div class="col-sm-5 col-xs-4"> <a>Clear all</a></div>
					</div>
				</div>
				<div class="col-sm-10">
					<div class="col-sm-12">
						<div class="col-sm-10 col-sm-offset-2 top-purchase-margin ">
							<div class="col-sm-2 col-sm-offset-2 text-center ">
								<div class="col-sm-12 image-hover-col text-center">
									<div class="fa fa-user user-icon-color img-btm-mrg user-image-size"></div>
									<p class="p-lft-fsize"> <b>My Purchases</b></p>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-sm-12 image-hover-col text-center">
									<div class="fa fa-users user-icon-color img-btm-mrg user-image-size"></div>
									<p class="p-lft-fsize"> <b> Public  Transactions</b></p>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12 bottom-padding-trans">

							<div class="col-xs-3 col-sm-1 no-margin-padding">
								<p class="word-top-right-padph p-lft-fsizeph">1 purchase</p>
							</div>

							<div class="col-xs-9 col-sm-3  no-padding no-margin-padding">
								<div class="fa fa-sort sort-icon-pad top-pad-seltype col-xs-2 col-sm-1" style="font-size:20px"></div>
								<div class="col-sm-6 col-xs-8">
									<select class="form-control" name="sort">
										<option value="sort">Sort By</option>
										<option value="date">Date</option>
										<option value="Name">Name</option>
										<option value="product">Products</option>
									</select>
								</div>
							</div>

						</div>
						<div class="col-sm-12 col-xs-12 no-padding off_butn_mar_pad border">
							<div class="col-sm-12 no-padding bg-ligh-grey">
								<div class="col-sm-3 tbl-tit-margin no-padding">
									<p class="txt-lft"><b>Transaction ID: </b>123</p>
								</div>
								<div class="col-sm-3 no-padding tbl-tit-margin">
									<p class="txt-lft"><b>Date: </b>March 28th,2018</p>
								</div>
								<div class="col-sm-3 no-padding tbl-tit-margin">
									<p class="txt-lft"><b>Status: </b>Pending shipment</p>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="col-sm-3 top-margin-txt">
									<p class="txt-lft">You bought 1 Brass product from<span class="name-color"> Spring Brass Sales</span> from<span class="name-color"> Mike Balestrino.</span></p>
									<div class="col-sm-10 col-sm-offset-1 col-xs-5 no-padding">
										<button class="btn btn-default btn-block form down">View details</button>
									</div>
									<div class="col-sm-10 col-sm-offset-1  col-xs-offset-2 col-xs-5 no-padding">
										<button class="btn btn-default text-center  btn-block form downr">Rate Transactions</button>
									</div>
								</div>
								<div class="col-sm-2 col-sm-offset-7 no-padding top-margin-cr-button   text-center">
									<div class="col-xs-6 col-sm-11 top-purchase-margin no-padding">
										<button class="btn btn-default btn-block form downcr">Confirm receipt </button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
</body>