<!DOCTYPE html>
<title>Vendor</title>
<body> 
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
	<div class="form-group col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
		<div class=" col-sm-6 col-sm-offset-5 circle col-xs-12 bgc_j">
			<label class="f16 mar_center"> Vendor Logo</label>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<label class="f22"> Business Name</label>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<label class="f14">Supplier</label>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
			<label class="f14">www.zervplatform.com/mybusiness name</label>
		</div>
		<div class="col-sm-12 col-xs-12 ">
			<div class=" f18 col-sm-4 col-sm-offset-4 text-center">
			<label class="f14">(3)</label>
			<div class="fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star"></div>
			</div>
		</div>
		<div class="form-group col-sm-12 col-md-12 col-lg-12">
		<hr class="hr_cus1">
		<div class="col-sm-10 col-sm-offset-2">
			<label class="f18"><strong>About</strong></label>
		</div>
		
			<div class="form-group text-center f30 col-sm-1">
				<div class="col-sm-12 fa fa-phone"></div>
				<div class="col-sm-12 fa fa-home"></div>
			</div>
			<div class="form-group col-sm-7 col-sm-offset-1">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor</p>
			<!-- <label class="form-group f14"><strong>Business classification:</strong></label> -->
			</div>
			<div class=" text-center col-sm-3">
			<div class="col-sm-12 "><label class="f18"><strong>Licenses</strong></label></div>
			<div class="col-sm-12 fa fa fa-certificate" style="font-size:75px"></div>
			<div class="col-sm-12 "><label class="f16">FFL license</label></div>
			
			</div>
		</div>
		<div class=" col-sm-12 col-md-12 col-lg-12">		
			<div class="form-group text-center f30 col-sm-1">
				<div class="col-sm-12 fa fa-linkedin-square"></div>
				<div class="col-sm-12 fa fa-facebook-square"></div>
			</div>
			<div class="form-group col-sm-7 text-center col-sm-offset-1">
			<label class="f18"><strong>Interests</strong></label>
			</div>
			<div class="form-group text-center col-sm-3">
			<label class="f16">ATF License</label>
			</div>
		</div>
		<div class=" col-sm-12 col-md-12 col-lg-12">		
			<div class="text-center f30 col-sm-1">
				<div class="col-sm-12 fa fa-twitter-square"></div>
			</div>
			<div class=" col-sm-7 text-center col-sm-offset-1">
				<div class=" col-sm-6">
					<label class="f18"><strong>Buy</strong></label>
				</div>
				<div class=" col-sm-6">
					<label class="f18"><strong>Sell</strong></label>
				</div>
			</div>
			
			<div class="form-group text-center col-sm-3">
			<label class="f16">ITAR license </label>
			</div>
		</div>
		<div class=" col-sm-12 col-md-12 col-lg-12">		
			<div class="form-group text-center f30 col-sm-1">
				<div class="col-sm-12 fa fa-instagram"></div>
				<div class="col-sm-12 fa fa-reply"></div>
			</div>
			<div class="form-group col-sm-8 text-center col-sm-offset-1">
				<div class="form-group col-sm-4 col-sm-offset-1 ">
					<label class="f18">Product name </label>
					<label class="f18"> Product name</label>
					<label class="f18">Product name </label>
					
				</div>
				<div class="form-group col-sm-4 col-sm-offset-1 ">
					<label class="f18">Product name </label>
					<label class="f18"> Product name</label>
					<label class="f18">Product name </label>
					
			</div>
			
			<!-- <div class="form-group text-center col-sm-3">
			<label class="f16">Business tax license </label>
			</div> -->
		</div>
		<div class=" col-sm-12 col-md-12 col-lg-12">
			<div class="form-group col-sm-4 col-sm-offset-2">
			<label class="f18"><strong>Groups</strong></label>
			</div>
			<div class="form-group col-sm-3 text-right">
			</div>
			<div class="form-group col-sm-3">
			</div>
		</div>
		<div class=" col-sm-10 col-sm-offset-1 col-md-12 col-lg-12">
			<div class="form-group col-sm-4 col-sm-offset-2">
			<label class="f16"><strong>Preferred trading partners</strong></label>
			<div class="col-sm-12">
			<a class="f14">Trading partner name</a>
			</div>
			<div class="col-sm-12">
			<a class="f14">Trading partner name</a>
			</div>
			</div>
			<div class="form-group col-sm-6 text-right">
			</div>
		</div>
		<div class=" col-sm-10 col-sm-offset-1 col-md-12 col-lg-12">
			<div class="form-group col-sm-4 col-sm-offset-2">
				<label class="f16"><strong>Group name</strong></label>
				<div class="col-sm-12">
					<a class="f14">Trading partner name</a>
				</div>
			</div>
			<div class="form-group col-sm-6 text-right">
			</div>
		</div>
		<div class=" col-sm-10 col-sm-offset-1 col-md-12 col-lg-12">
			<div class="form-group col-sm-4 col-sm-offset-2">
				<label class="f16"><strong>Group name</strong></label>
				<div class="col-sm-12">
				<a class="f14">Trading partner name</a>
				</div>
			</div>
			<div class="form-group col-sm-6 text-right">
			</div>
		</div>
		<div class=" form-group text-center col-sm-12 col-md-12 col-lg-12">
			<label class="f18"><strong>Top reviews</strong></label>
		</div>	
		<div class=" form-group text-center f25 col-sm-12 col-md-12 col-lg-12">
			<div class ="col-sm-6">
			<div class="fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class="fa fa-star-half-empty"></div>
			</div>
			<div class ="col-sm-6">
			<div class="fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star"></div>
			<div class=" fa fa-star-o"></div>
			<div class="fa fa-star-o"></div>
			</div>
		</div>
	</div>
	
</div>
</div>
</body>