<!DOCTYPE html>
<title>Redemption</title>
<body> 
<div class="container text-left">
<ul>
<h3>Logged out</h3>
<li><a href="{{hostname}}#/intakeForm">Intake Form </a></li> 
<li><a href="{{hostname}}#/InvitationLink">Invitation Link </a></li>


<li><a href="{{hostname}}#/accountInformation">Account Information</a></li>
<li><a href="{{hostname}}#/createdConfirmation">Created Confirmation</a></li>

<li><a href="{{hostname}}#/login">Login</a></li>
<li><a href="{{hostname}}#/mfaRequest">MFA Request</a></li> 


<li><a href="{{hostname}}#/mfaChooseMethod">MFA Choose Method</a></li>
<li><a href="{{hostname}}#/mfaEnterCodeEmail">MFA Enter Code Email</a></li>


<li><a href="{{hostname}}#/mfaEnterCodePhoneText">MFA Enter Code Phone Text</a></li>
<li><a href="{{hostname}}#/mfaEnterCodePhoneCall">MFA Enter Code Phone Call</a></li> 
<h3> Onboarding</h3>
<li><a href="{{hostname}}#/externalSystems">External Systems</a></li>


<li><a href="{{hostname}}#/externalSystemsSelected">External Systems Selected</a></li>
<li><a href="{{hostname}}#/companyInfo">Company Info</a></li>
<li><a href="{{hostname}}#/profileDetails">Profile Details</a></li>
<li><a href="{{hostname}}#/addInterests">Add interests</a></li>
<li><a href="{{hostname}}#/tokenAccess">Token access</a></li>
<li><a href="{{hostname}}#/confirmation">Confirmation</a></li>


<h3>Account</h3>
<li><a href="{{hostname}}#/profile">Profile</a></li>
<h3>Trading partners</h3>
<li><a href="{{hostname}}#/vendors">Trading Partners</a></li>
<li><a href="{{hostname}}#/X_personProfile">Other Person's Profile</a></li>
<li><a href="{{hostname}}#/groupsFavorites">Groups/Favorites</a></li>
<h3>Marketplace</h3>

<h3> sales Opportunities listing</h3>
<li><a href="{{hostname}}#/salesOpportunities_Listings"> sales Opportunities listing</a></li>
<h4>Create NewSell Listing</h4>
<li><a href="{{hostname}}#/createNewSellListing_Step-1">Create NewSell Listing Step-1</a></li>
<li><a href="{{hostname}}#/createNewSellListing_Step-2">Create NewSell Listing Step-2</a></li>
<li><a href="{{hostname}}#/createNewSellListing_Step-3">Create NewSell Listing Step-3</a></li>
<li><a href="{{hostname}}#/createNewSellListing_Step-4">Create NewSell Listing Step-4</a></li>
<li><a href="{{hostname}}#/createNewSellListing_Step-5">Create NewSell Listing Step-5</a></li>
<h4>Create NewSell Intrest</h4>
<li><a href="{{hostname}}#/createNewSell_Interest">Create New Sell Intrest</a></li>
<li><a href="{{hostname}}#/createNewSell_Interest_Confirmation">Confirmation</a></li>
<h4>Sell Listing Details</h4>
<li><a href="{{hostname}}#/sellListingDetails">Sales Listing Details</a></li>
<li><a href="{{hostname}}#/denyBidConfirmation"> Deny Bid Confirmation</a></li>
<li><a href="{{hostname}}#/acceptBidConfirmation"> Accept Bid Confirmation</a></li>
<h4>***********************************************************************************************************</h4>
<h3> sales Opportunities Matches</h3>
<li><a href="{{hostname}}#/salesOpportunities_Matches"> sales Opportunities Matches</a></li>
<li><a href="{{hostname}}#/matchedBuyListingDetails"> Matched Buy Listing Details</a></li>
<li><a href="{{hostname}}#/placeOfferToSell"> Place Offer To Sell</a></li>
<li><a href="{{hostname}}#/placeOfferToSellConfirmation"> Place Offer To Sell Confirmation</a></li>
<h4>***********************************************************************************************************</h4>
<h3>Active Sell Offers</h3>
<li><a href="{{hostname}}#/activeSellOffers">activeSellOffers</a></li>
<li><a href="{{hostname}}#/awaitingPayment">Awaiting Payment</a></li>
<li><a href="{{hostname}}#/awaitingResponse">Awaiting Response</a></li>
<h4>***********************************************************************************************************</h4>
<h3>Sales History</h3>
<li><a href="{{hostname}}#/salesHistory">Sales History</a></li>
<li><a href="{{hostname}}#/addTrackingInformation">Add Tracking Information</a></li>
<li><a href="{{hostname}}#/createShippingLabel">Create Shipping Label</a></li>
<li><a href="{{hostname}}#/shippingLabelCreated"> shipping Label Created</a></li>
<li><a href="{{hostname}}#/salesViewDetails">view Details</a></li>
<li><a href="{{hostname}}#/salesRateTransaction">Rate Transaction</a></li>
<h4>***********************************************************************************************************</h4>
<h3>Buying Opportunities Listing</h3>
<li><a href="{{hostname}}#/buyingOpportunities_Listings"> Buying Opportunities Listing</a></li>
<li><a href="{{hostname}}#/createNewBuyInterest"> Create New Buy Interest</a></li>
<h4>***********************************************************************************************************</h4>
<h3>Buying Opportunities Matches</h3>
<li><a href="{{hostname}}#/buyingOpportunities_Matches">Buying Opportunities Matches</a></li>
<li><a href="{{hostname}}#/buyNowConfirmation">Buy Now Conformation</a></li>
<li><a href="{{hostname}}#/matchedSellListingDetails">Matched Sell Listing Details</a></li>
<li><a href="{{hostname}}#/placeBid"> Place Bid</a></li>
<li><a href="{{hostname}}#/placeBidConfirmation"> Place Bid Confirmation</a></li>

<h4>***********************************************************************************************************</h4>
		
<h3>Active Buy Offers</h3>
<li><a href="{{hostname}}#/activeBuyOffers">active Buy Offers</a></li>
<li><a href="{{hostname}}#/activeBuyOffers_awaitingPayment">active BuyOffers awaiting Payment</a></li>
<li><a href="{{hostname}}#/activeBuyOffers_awaitingPayment_ConfirmPayment">Confirm Payment</a></li>
<li><a href="{{hostname}}#/activeBuyOffers_awaitingPayment_ConfirmPayment_BidPayment">Confirm Payment - Bid Payment</a></li>
<li><a href="{{hostname}}#/activeBuyOffers_awaitingResponse">active BuyOffers awaiting Response</a></li>

<h4>***********************************************************************************************************</h4>
<h3>Purchasing History</h3>
<li><a href="{{hostname}}#/purchasingHistory">Purchasing History</a></li>
<li><a href="{{hostname}}#/viewPublicTransaction">View Public Transaction</a></li>
<li><a href="{{hostname}}#/ratePurchase">Rate Purchase</a></li>
<li><a href="{{hostname}}#/confirmReceiptOfProduct">Confirm Receipt Of Product</a></li>
<h4>***********************************************************************************************************</h4>
<h3>Notifications</h3>
<li><a href="{{hostname}}#/notifications">Notifications</a></li>
<h3>Help</h3>
<li><a href="{{hostname}}#/help">Help</a></li>
<h3>Home</h3>
<li><a href="{{hostname}}#/about">About</a></li>
<li><a href="{{hostname}}#/dashboard">Dashboard</a></li>
</ul>
</div>
</body>
