<!DOCTYPE html>
<title>Notifications</title>
<body> 
<div class="container" style="padding-right:0px;padding-left:0px">
	
	
	<div class="col-sm-12 col-xs-12  border_pack0" style="padding-top:0px">
		    
		<div class="col-sm-12 col-xs-12"> 
			<div id="hover" class=" form-group col-sm-12 col-xs-12 alert alert-dismissible f25 border_pack0 margin_bottom_p">
				<div class=" form-group col-sm-12 col-xs-12 f25">
                    <label><strong>Notifications</strong></label>
                </div>
			</div>
		 
			<div id="hover" class=" form-group col-sm-12 col-xs-12 alert alert-dismissible border_pack0 margin_bottom_p">
				<div class=" form-group col-sm-6 col-xs-6 f14">
                    <label>Manahil Malik sent you payment! Update tracking information now</label>
				</div>
				
				<div class="form-group col-sm-6 col-xs-6">
                    <div class="form-group col-sm-offset-6 col-sm-3 col-xs-12">
						  <button type="button" style="width:100%" ng-model="values.updateTrackView" id="updateTrackView" class="btn btn-info btn-md center-block">View</button>
				    </div>
							
					<div class="form-group col-sm-3 col-xs-12">
						  <button type="button" style="width:100%" ng-model="values.updateTrackDismiss" id="updateTrackDismiss" class="btn btn-default btn-md center-block" data-dismiss="alert">Dismiss</button>
					 </div>
				</div>
			</div>
		 
		 
			<div id="hover" class=" form-group col-sm-12 col-xs-12 alert alert-dismissible border_pack0 margin_bottom_p">
				<div class=" form-group col-sm-6 col-xs-6 f14">
                    <label>Cabelas accepted your bid on listing 411</label>
                </div>
				
				<div class="form-group col-sm-6 col-xs-6">
                        <div class="form-group col-sm-offset-6 col-sm-3 col-xs-12">
						  <button type="button" style="width:100%" ng-model="values.acceptView" id="acceptView" class="btn btn-info btn-md center-block">View</button>
						</div>
							
						<div class="form-group col-sm-3 col-xs-12">
						  <button type="button" style="width:100%" ng-model="values.acceptDismiss" id="acceptDismiss" class="btn btn-default btn-md center-block" data-dismiss="alert">Dismiss</button>
						</div>
                </div>
			</div>
		 
			<div id="hover" class=" form-group col-sm-12 col-xs-12 alert alert-dismissible border_pack0 margin_bottom_p" >
				<div class=" form-group col-sm-6 col-xs-6 f14">
                    <label>You have 5 new bid on listing 411</label>
                </div>
				
				<div class="form-group col-sm-6 col-xs-6">
                        <div class="form-group col-sm-offset-6 col-sm-3 col-xs-12">
						  <button type="button" style="width:100%" ng-model="values.listingView" id="listingView" class="btn btn-info btn-md center-block">View</button>
						</div>
							
						<div class="form-group col-sm-3 col-xs-12">
						  <button type="button" style="width:100%" ng-model="values.listingDismiss" id="listingDismiss"class="btn btn-default btn-md center-block" data-dismiss="alert">Dismiss</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
