<!DOCTYPE html>
<title>Onboarding</title>
<body> 
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
	<div class="form-group col-sm-12 col-md-12 col-lg-12">
		<div class="col-sm-11 col-sm-offset-1">
			<h5><b>Onboarding</b></h5>
		</div>
	</div>
	<div class="form-group col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
		<ol class="progress1 progress1--large">
		  <li class="is-active" data-step="1">
			External systems	
		  </li>
		  <li  data-step="2">
			Company info
		  </li>
		  <li data-step="3">
			Profile details
		  </li>
		   <li data-step="4">
			Add interests
		  </li> 
			<li data-step="5">
			Token access
		  </li> 
			<li data-step="6" class="progress1__last">
			Confirmation
		  </li> 
		</ol>
		<div class="col-sm-12">
			<h5>Use your existing accounts to help get your profile started </h5>
		</div>
		<div class="form-group jumbotron_cus1 jumbotron  col-sm-11 col-xs-11">
			<div class="col-sm-1 col-xs-2 fa fa-info-circle f22 text-center"></div>
			<div class="col-sm-11 col-xs-10"> <h4>linking existing accounts will certify your business example text explanation on why its important to link</h4></div>
			
		</div>
		<div class="col-sm-12">
		<div class="jumbotron col-xs-12 col-sm-2 jumbotron_cus2" >
			<div class="container " id="externalSystemsSAM"  data-toggle="modal" data-target="#myModal" style="text-align:center;">
				<a class="fa fa-plus f20 clb"></a><p>Add a SAM Account</p> 
			</div>
			  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content model_margin">
        <div class=" modal-footer model_border ">
			<div class="col-sm-12 col-xs-12 text-left ">
				<div class = "col-sm-8 col-sm-offset-2">
					<div class=" col-xs-12 col-sm-10 col-sm-offset-1">
					<h3>SAM</h3>
					<h4>Registration ID</h4>
					</div>
					<div class="form-group  col-xs-12 col-sm-10 col-sm-offset-1">
						<input class="form-control input-sm" ng-model="values.regid" type="text" placeholder="Registration ID">
					</div>
					<div class=" form-group col-xs-12 col-sm-6 col-sm-offset-3">
						 <button style="width:100%"  id="externalSystemsConnectAccount" ng-click="connectAccount(values.regid);" class="btn btn-info btn-md center-block" data-dismiss="modal">Connect account</button><!-- 
						<a style = "text-decoration:none;" data-dismiss="modal" class="btn btn-info btn-md center-block" href="{{hostname}}#/externalSystemsSelected">Connect account</a> -->
					</div>
				</div>
			</div>
		</div>
      </div>
      
    </div>
  </div>
		</div>
		<div class="jumbotron col-xs-12 col-sm-2 jumbotron_cus2">
			<div class="container " style="text-align:center;">
				<a class="fa fa-plus f20 clb"></a><p>Add a XYZ Account</p> 
			</div>
		</div>
		<div class="jumbotron col-xs-12 col-sm-2 jumbotron_cus2">
			<div class="container " style="text-align:center;">
				<a class="fa fa-plus f20 clb"></a><p>Add a ABC Account</p> 
			</div>
		</div>
		</div>
		<div class="form-group col-xs-12 col-sm-6">
			<div class="form-group col-xs-6 col-sm-4" >
				<button type="button" style="width:100%" id="externalSystemsCancel" class="btn btn-default btn-sm center-block">Cancel</button>
			</div>
			<div class="form-group col-xs-6 col-sm-4">
				<button type="button" style="width:100%" id="externalSystemsSaveAndClose" class="btn btn-info btn-sm center-block">Save and close</button>
			</div>
		</div>	
		<div class="form-group col-xs-12 col-sm-6" >
			<div class="form-group col-xs-6 col-sm-4 col-sm-offset-4">
			<a style="width:100%" id="externalSystemsBack" class="btn btn-default btn-sm center-block" href="{{hostname}}#/">Back</a>
			</div>
			<div class="form-group col-xs-6 col-sm-4">
				<a style="width:100%" id="externalSystemsNext" class="btn btn-info btn-sm center-block" href="{{hostname}}#/externalSystemsSelected">Next</a>
			</div>
		</div>		
	</div>
</div>
</body>