<!DOCTYPE html>
<title>Onboarding</title>

<body>
    <div class="container-fluid" style="padding-right:0px;padding-left:0px">

        <div class=" col-sm-12">
            <div class="form-group col-sm-12 ">
                <div class="col-sm-2 no-padding no-padding">
                    <div class=" input-group">
                        <input type="text" ng-model="values.salesHistory" class="form-control f12">
                        <span class="input-group-addon"  style="color:transparent">.<a class="fa fa-search" style="color:black"></a></span>
                    </div>
                </div>
                <div class="form-group f14  col-sm-2">
                    <a>Advanced search</a>
                </div>
                <div class="form-group f14 text-right col-sm-offset-1 col-sm-2">
                    <a>Selling Opportunities </a>
                </div>
                <div class="form-group f14 text-right col-sm-2">
                    <a>Active Offers</a>
                </div>
                <div class="form-group f14 text-right col-sm-2">
                    <a>Sales History</a>
                </div>
            </div>
        </div>
        <div class=" form-group col-sm-12">
            <div class=" form-group col-sm-2 border_pack4" style="height:545px">
                <div class="col-sm-2 fa fa-filter" style="font-size:15px"></div>
                <div class="col-sm-5">
                    <p><strong>Filters</strong></p>
                </div>
                <div class="col-sm-4"> <a>Clear all</a></div>
            </div>
            <div class=" col-sm-10">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="col-sm-2 col-sm-offset-2">
                        <div class="col-sm-12 text-center">
                            <div class="ic_1_sales_History fa fa-user"></div>
                            <p><strong>My sales</strong></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-12 ho text-center">
                            <div class="ic_1_sales_History fa fa-users"></div>
                            <p> <strong> Public  Transactions</strong></p>
                        </div>
                    </div>
                </div>
                <div class="full_body_sales_History">
                    <div class="bid_info_sales_History  col-sm-12">
                        <div class="text-bottom col-sm-1 ">
                            <p><strong>2 sales</strong></p>
                        </div>
                        <div class="col-sm-2 form-group">
                            <select class=" form-control ">
                                <option>Sort by</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="Panel_011_sales_History col-sm-12 panel panel-default ">
                    <div class=" panel-heading">
                        <div class="col-sm-3 ">
                            <p>Transaction ID:123</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Date:March 28th,2018</p>
                        </div>
                        <div>
                            <p>Status:Pending shipment</p>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 ">
                            <p>You sold one product from <a>Spring brass sales</a> to <a>Manahil Malik</a></p>
                        </div>
                        <div class="col-sm-3 col-sm-offset-3">
                            <button type="button" id="salesHistoryID123AddTraceability" class="tot_btns_sales_History btn btn-info">Add tracking information</button>
                        </div>

                        <div class="col-sm-3">
                            <br>
                            <button type="button" id="salesHistoryID123ViewDetails"  class="tot_btns_sales_History btn btn-default">View details</button>
                        </div>
                        <div class="col-sm-3 col-sm-offset-6">
                            <br>
                            <button type="button" id="salesHistoryID123CreateShippingLabel"  class="tot_btns_sales_History btn btn-info">Create shipping label</button>
                        </div>

                        <div class="col-sm-3">
                            <br>
                            <button type="button" id="salesHistoryID123RateTransaction" class="tot_btns_sales_History btn btn-info">Rate transaction</button>
                        </div>
                        <div class="col-sm-3 col-sm-offset-6">
                            <br>
                            <button type="button" id="salesHistoryID123AddTraceability" class="tot_btns_sales_History btn btn-info">Add traceability</button>
                        </div>
                    </div>
                </div>
                <div class="Panel_011_sales_History	 col-sm-12 panel panel-default">
                    <div class=" panel-heading">
                        <div class="col-sm-3 ">
                            <p>Transaction ID:234</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Date:March 17th,2018</p>
                        </div>
                        <div>
                            <p>Status:Delivered</p>
                        </div>
                    </div>
                    <div class=" panel-body">
                        <div class="col-sm-6 ">
                            <p>You sold 6 product from <a>listing 441</a> to <a>Cabelas</a></p>
                        </div>
                        <div class="col-sm-3 col-sm-offset-3">
                            <button type="button" id="salesHistoryID234AddTraceability" class="tot_btns_sales_History btn btn-info">Add tracking information</button>
                        </div>

                        <div class="col-sm-3">
                            <br>
                            <button type="button" id="salesHistoryID234ViewDetails" class="tot_btns_sales_History btn btn-default">View details</button>
                        </div>
                        <div class="col-sm-3 col-sm-offset-6">
                            <br>
                            <button type="button" id="salesHistoryID234CreateShippingLabel" class="tot_btns_sales_History btn btn-info">Create shipping label</button>
                        </div>

                        <div class="col-sm-3  text-center">
                            <br>
                            <div class="st_1_sales_History fa fa-star checked2_sales_History"></div>
                            <div class="st_1_sales_History fa fa-star checked2_sales_History"></div>
                            <div class="st_1_sales_History fa fa-star checked2_sales_History"></div>
                            <div class="st_1_sales_History fa fa-star checked2_sales_History"></div>
                            <div class="st_1_sales_History fa fa-star"></div>
                        </div>
                        <div class="col-sm-3 col-sm-offset-6">
                            <br>
                            <button type="button" id="salesHistoryID234AddTraceability" class="tot_btns_sales_History btn btn-info">Add traceability</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>