<!DOCTYPE html>
<title>Onboarding</title>

<body> 
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
	<div class=" col-sm-12 col-lg-12">
		<div class="form-group col-sm-12 col-xs-12">
		<div class="col-sm-2">
		<div class=" input-group">
			<input type="text"class="form-control f12"placeholder="Search MarketPlace">
			  <span class="input-group-addon " style="color:transparent">.<a class="fa fa-search" style="color:black"></a></span>   
		</div>
		</div>
		<div class="form-group f14  col-sm-2">
			<a>Advanced search</a>
		</div> 
		<div class="form-group f14 text-right col-sm-offset-2 col-sm-2">
			<a>Buying Opportunities </a>
		</div> 
		<div class="form-group f14 text-right col-sm-2">
			<a>Active Offers</a>
		</div> 	
		<div class="form-group f14 text-right col-sm-2">
			<a>Purchasing History</a>
		</div>		
		</div>
	</div>
	<div class="form-group col-sm-12 col-md-12 col-lg-12">
		<div class="form-group col-sm-12 col-xs-12">
		<div class=" form-group col-sm-2 border_pack4"style="height:510px">
		
		</div>
		<div class="form-group f14 col-sm-10">
			<div class="form-group col-sm-12">
			<label class="f16">Active Buy Offers</label>
			<hr class="hr_cus_vendor">
			</div>
			<div class="form-group col-sm-2">
			<label class="f14">3 Open Offers</label>
			</div>
			<div class="form-group col-sm-2">
			<select class="form-control">
				<option>Sort By</option>
				<option>Name</option>
				<option>Date</option>
			</select>
			</div>
			<div class="form-group col-sm-12 border_pack4">
				<div class="form-group col-sm-3">
					<label class="f16">Offer information</label>
					
				</div>
				<div class="form-group col-sm-3 text-right col-sm-offset-5">
					<label class="f16">Status: Awaiting payment</label>
				</div>
				
				<div class="form-group f18 col-sm-1">
					<input type='radio' name="offer_info_radio1"/>
				</div>
				
				
				<div class="form-group col-sm-3 ">
					<label class="f14">Listing: Spring Brass Sales</label>
				</div>
				
				<div class="form-group f18 col-sm-2  col-sm-offset-6">
					<a style="width:100%" class="btn btn-info btn-md center-block" href="{{hostname}}#/profileDetails">View details</a>
				</div>
				<div class="form-group col-sm-3 ">
					<label class="f14">Vendor: Manahil Malik</label>
				</div>
			</div>
			<div class="form-group col-sm-12 border_pack4">
				<div class="form-group col-sm-3">
					<label class="f16">Offer information</label>
					
				</div>
				<div class="form-group col-sm-3 text-right col-sm-offset-5">
					<label class="f16">Status: Awaiting payment</label>
				</div>
				
				<div class="form-group f18 col-sm-1">
					<input type='radio' name="offer_info_radio2"/>
				</div>
				
				
				<div class="form-group col-sm-3 ">
					<label class="f14">Listing: Listing 411 </label>
				</div>
				
				<div class="form-group f18 col-sm-2  col-sm-offset-6">
					<a style="width:100%" class="btn btn-info btn-md center-block" href="{{hostname}}#/">View details</a>
				</div>
				<div class="form-group col-sm-3 ">
					<label class="f14">Vendor: Walmart</label>
				</div>
			</div>
			<div class="form-group col-sm-12 border_pack4">
				<div class="form-group col-sm-3">
					<label class="f16">Offer information</label>
					
				</div>
				<div class="form-group col-sm-3 text-right col-sm-offset-5">
					<label class="f16">Status: Action required</label>
				</div>
				
				<div class="radio_color_change form-group f18 col-sm-1">
					<input type='radio' name="offer_info_radio3"/>
				</div>
				
				
				<div class="form-group col-sm-3 ">
					<label class="f14">Listing: Spring Brass Sales</label>
				</div>
				
				<div class="form-group f18 col-sm-2  col-sm-offset-6">
					<a style="width:100%" class="btn btn-info btn-md center-block" href="{{hostname}}#/">View details</a>
				</div>
				<div class="form-group col-sm-3 ">
					<label class="f14">Vendor: John Doe</label>
				</div>
			</div>
		</div>		
		</div>
	</div>

</body>
